* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #ffcdd9;
}
.container {
  display: grid;
}
.headers {
  display: grid;
  grid-template-areas:
    "h1 img"
    "p img"
    "... img";
}
.headers h1 {
  grid-area: h1;
}
.headers p {
  grid-area: p;
}
.headers img {
  grid-area: img;
  height: 7rem;
  mix-blend-mode: multiply;
  flex-shrink: 0;
}

.positionBtn {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
}
.inputDate {
  flex: 3;
  border-radius: 10px;
  padding: 0.5rem;
  height: 3.3rem;
}
.inputTask {
  width: 100%;
  height: 3.3rem;
  border-radius: 10px;
  padding: 0.5rem;
}
ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

li {
  display: flex;
  cursor: pointer;
}
.creatTask {
  height: 10rem;
}
.task,
.done {
  width: 100%;
  height: 10rem;
}
.subtitle {
  margin: 0.3rem 0 0.3rem 1rem;
}
.itemLi {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.itemContainer {
  width: 15.5rem;
  display: grid;
  padding: 0.4rem;
  grid-gap: 0.5rem;
  grid-template-columns: 2fr 0.5fr;
  grid-template-areas:
    "text check"
    "date trash";
  border-radius: 5px;
  background: linear-gradient(
    270deg,
    #f597ca 0%,
    rgba(255, 255, 255, 0.8) 100%
  );
}
.btnRemove {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.creatTask {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-rows: 10px 53px 53px;
  grid-template-columns: 3.5fr 1fr;
  grid-template-areas:
    "tex tex"
    "inp inp"
    "dat bt";
}
.inputTask {
  grid-area: inp;
}
.creatTask h4 {
  grid-area: tex;
}
.btn {
  flex: 1;
  height: auto;
  border-radius: 10px;
  background-color: #36296a;
  color: #ffffff;
}
.btn:hover {
  cursor: pointer;
}
.tab,
.tab2 {
  margin-left: 1rem;
}
